@media (min-width: 1200px) {
    /* DESKTOP.css : desktop영역 css */
    img.m{display: none;}
    img.tab{display: none;}
    img.pc{display: block;}

    header{
        height: 230px;
        background-color: #fff;
        border-top: 6px solid #A57DFF;
        position: relative;
    }

    header h1 {
        position: absolute;
    }
    header h1 img{height: 130px;}

    header .btn-nav button,
    header .btn-member button,
    header nav .btn-close button{display: none;}

    header nav{
        position: unset;
        background-color: unset;
    }
    header nav .gnb{
        padding-top: 0;
        display: flex;
        position: absolute;
    }
    header nav .gnb li a{
        font-size: 22px;
        color: #000;
        font-weight: bold;
    }

    header nav .util{
        position: absolute;
        color: #6F6F6F;
        top: 10px;
        right: 10px;
        margin-top: 0;
    }
}